@inherits LayoutComponentBase

<PageTitle>Web Application Firewall</PageTitle>

<CascadingValue Value=this>
    <NavMenu/>

    <div id="content">
        @Body
    </div>
</CascadingValue>

@code {
    public bool ShowSidebar { get; set; } = true;
}
