table.data-table {
    border-spacing: 0;
}

table.data-table th,
table.data-table td {
    padding: 10px 10px;
    font-family: 'Segoe UI';
    font-size: 15pt;
}

table.data-table th {
    border-bottom: 1px solid white;
}

table.data-table tr:nth-child(2n) {
    background: #808080;
}