@page "/Admin/Dashboard"
@attribute [Authorize]
@inject ILogService logService

<h2>Dashboard</h2>

<h3>Requests Summary</h3>

<p>Total Requests: @total</p>
<p>Blocked Requests: @totalBlocked</p>


@* Tolga & Brayden Dashboard *@
@code {
    private int total;
    private int totalBlocked;

    protected override void OnInitialized() {
        total        = logService.LogEntries.Count();
        totalBlocked = logService.LogEntries
            .Where(e => e.Result != LogResult.Allowed)
            .Count();
    }
}