@page "/Login"

<PageTitle>WAF Login</PageTitle>

@* Tolga & Nitzan Logging Page *@

<script suppress-error="BL9992">
    @*
    Sending the login credentials unfortunately isn't as straight-forward
    as a <form method="POST"> if we'd like to play a custom animation
    on unsuccessful login. Fortunately, a small helper function to interpret
    the response is all we need.
    *@
    async function login() {
        var form   = document.querySelector('form#login');
        var inputs = Array.from(form.getElementsByTagName('input'));

        var formData = new FormData(form);

        var resp = await fetch('/Login', {
            method: 'POST',
            body: formData
        });

        if(resp.ok) {
            window.location.href = '/Admin/Logs';
        } else if(resp.status == 403) {
            inputs.filter(i => i.type != 'submit').forEach(e => {
                e.value = null;
                cycleClass(e, 'bad-login');
            });
            inputs[0].focus();
        } else {
            alert('Unknown error while attempting to login!');
        }
    }
</script>

<div id="login">
    <h2><center>Login</center></h2>
    <form id="login" action="javascript:login();">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
    </form>
</div>

@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override void OnInitialized() =>
        Layout.ShowSidebar = false;
}
