@layout LoginLayout
@page "/"
@using MaxSecurityWAF
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRunTime
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div>
        <h2>Login</h2>
        <form action="login_process.php" method="POST">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>



@code {

    private User user = new User();
 

    protected override Task OnInitializedAsync()
    {
        user = new User();
        return base.OnInitializedAsync();

    }


    private async Task<bool> ValidateUser()
    {
        

        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsAuthenticated(user.username);
        NavigationManager.NavigateTo("/index");

        await sessionStorage.SetItemAsync("Username",user.username);

        return await Task.FromResult(true);

    }


}