@page "/Admin/Users"
@inject IDbContextFactory<WAFContext> dbFactory

<h2>User Management</h2>

<table class="data-table">
    <tr>
        <th>Username</th>
        <th>&nbsp;</th>
    </tr>
    @foreach(var user in Users) {
        <tr>
            <td>@user.Username</td>
            <td>
                <a href="javascript:;">Edit</a>
                <a href="javascript:;">Delete</a>
            </td>
        </tr>
    }
</table>

@code {
    public IEnumerable<User> Users {
        get {
            using var db = dbFactory.CreateDbContext();
            foreach(var user in db.Users.OrderBy(u => u.Username))
                yield return user;
        }
    }
}
