@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Web Application Firewall</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
                <Authorized>
                    <a href="/login" @onclick="(() => Logout())" > Logout </a>
                </Authorized>

                <NotAuthorized>
                    <a href="/login"> Login </a>
                </NotAuthorized>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {

    public void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut(); 
    }

}